#set ($prefix = "[$repository.project.key/$repository.slug] - $refChange.refId")
#if($refChange.type.equals($ADD))
$prefix created by $user.displayName
#elseif($refChange.type.equals($DELETE))
$prefix removed by $user.displayName
#end