#* @vtlvariable name="filenames" type="java.util.List<java.lang.String>" *#
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
        "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="content-type" content="text/html; charset=3Dutf-8"/>
    <title>$subject</title>
</head>
<body>
<style><!--
    dl a {
        font-weight: bold
    }

    dl a:link {
        color: #fc3;
    }
--></style>
<h1 style="font-family: verdana, arial, helvetica, sans-serif;font-size: 16pt;">
    <a href="${navBuilder.project($repository.project).buildAbsolute()}">$repository.project.name</a> / <a href="${navBuilder.repo($repository).buildAbsolute()}">$repository.name</a>
</h1>
<div>
    <div style="font-family: verdana, arial, helvetica, sans-serif;font-size: 12pt;">
        #set($removedCommitsDisplay = "#if($removedCommits.size() == 1)commit#{else}commits#{end}")
        #set($newCommitsDisplay = "#if($removedCommits.size() == 1)commit#{else}commits#{end}")

        #if($isForcePush)
            #if($commits.size() > 0)
                #set($action = "removed $removedCommits.size() and added $removedCommits.size() $removedCommitsDisplay to ${ref.displayId}")
            #else
                #set($action = "removed $removedCommits.size() $removedCommitsDisplay from ${ref.displayId}")
            #end
        #else
            #set($action = "added $commits.size() $newCommitsDisplay to ${ref.displayId}")
        #end
        $user.displayName $action
    </div>

    #if($removedCommits.size() > 0)
        <h3 style="font-family: verdana, arial, helvetica, sans-serif;font-size: 10pt;font-weight: bold;">Removed Commits</h3>
        #foreach( $commit in $removedCommits )
            <dl style="font-family: verdana, arial, helvetica, sans-serif;font-size: 10pt;border: 1px #006 solid;background: rgb(129, 32, 13);padding: 6px;color: #fff;">
                <dt style="font-family: verdana, arial, helvetica, sans-serif;font-size: 10pt;float: left;width: 6em;font-weight: bold;">Revision:</dt><dd><a href="${navBuilder.repo($repository).changeset($commit.id).buildAbsolute()}" style="font-weight: bold; color: #fc3;">$commit.displayId</a></dd>
                <dt style="font-family: verdana, arial, helvetica, sans-serif;font-size: 10pt;float: left;width: 6em;font-weight: bold;">Name:</dt><dd>$commit.author.name</dd>
                <dt style="font-family: verdana, arial, helvetica, sans-serif;font-size: 10pt;float: left;width: 6em;font-weight: bold;">Email:</dt><dd><a href="mailto:$commit.author.emailAddress" style="font-weight: bold; color: #fc3;">$commit.author.emailAddress</a></dd>
                <dt style="font-family: verdana, arial, helvetica, sans-serif;font-size: 10pt;float: left;width: 6em;font-weight: bold;">Date:</dt><dd>$commit.authorTimestamp</dd>
            </dl>
            <pre style="overflow: auto;background: #ffc;border: 1px #fa0 solid;padding: 6px;">$commit.message</pre>
        #end
    #end

    #if($commits.size() > 0)
        <h3 style="font-family: verdana, arial, helvetica, sans-serif;font-size: 10pt;font-weight: bold;">New Commits</h3>
        #foreach( $commit in $commits )
            <dl style="font-family: verdana, arial, helvetica, sans-serif;font-size: 10pt;border: 1px #006 solid;background: #369;padding: 6px;color: #fff;">
                <dt style="font-family: verdana, arial, helvetica, sans-serif;font-size: 10pt;float: left;width: 6em;font-weight: bold;">Revision:</dt><dd><a href="${navBuilder.repo($repository).changeset($commit.id).buildAbsolute()}" style="font-weight: bold; color: #fc3;">$commit.displayId</a></dd>
                <dt style="font-family: verdana, arial, helvetica, sans-serif;font-size: 10pt;float: left;width: 6em;font-weight: bold;">Name:</dt><dd>$commit.author.name</dd>
                <dt style="font-family: verdana, arial, helvetica, sans-serif;font-size: 10pt;float: left;width: 6em;font-weight: bold;">Email:</dt><dd><a href="mailto:$commit.author.emailAddress" style="font-weight: bold; color: #fc3;">$commit.author.emailAddress</a></dd>
                <dt style="font-family: verdana, arial, helvetica, sans-serif;font-size: 10pt;float: left;width: 6em;font-weight: bold;">Date:</dt><dd>$commit.authorTimestamp</dd>
            </dl>
            <pre style="overflow: auto;background: #ffc;border: 1px #fa0 solid;padding: 6px;">$commit.message</pre>
        #end
    #end

    #if($settings.sendChangedFiled() && $filenames.size() > 0)
    <h3 style="font-family: verdana, arial, helvetica, sans-serif;font-size: 10pt;font-weight: bold;">Modified Paths</h3>
    <ul style="font-family: verdana, arial, helvetica, sans-serif;font-size: 10pt;">
        #foreach($filename in $filenames)
            <li style="font-family: verdana, arial, helvetica, sans-serif;font-size: 10pt;"><a href='#${filename.replace("/", "")}'>$filename</a></li>
        #end
    </ul>
    #end
</div>
#if($settings.sendFullDiffs() && $filenames.size() > 0)
<div style="width: 100%;">
    <h3 style="font-family: verdana, arial, helvetica, sans-serif;font-size: 10pt;font-weight: bold;">Diff</h3>
    $diffContentWithHtml
</div>
#end
</body>
</html>
