#set ($prefix = "[STASH] [] - $refChange.refId")
#set($removedCommitsDisplay = "#if($removedCommits.size() == 1)commit#{else}commits#{end}")
#set($newCommitsDisplay = "#if($removedCommits.size() == 1)commit#{else}commits#{end}")
#if($isForcePush)
    #if($commits.size() > 0)
        #set($action = "removed $removedCommits.size() and added $removedCommits.size() $removedCommitsDisplay to ${ref.displayId}")
    #else
        #set($action = "removed $removedCommits.size() $removedCommitsDisplay from ${ref.displayId}")
    #end
#else
    #set($action = "added $commits.size() $newCommitsDisplay to ${ref.displayId}")
#end
[STASH] [$repository.project.key/$repository.slug] $user.displayName $action on ${ref.getDisplayId()}